{"openapi":"3.0.0","info":{"title":"API Automatisation téléphone","version":"dev","description":"API pour la gestion des téléphones et des comptes Instagram.\n\n## Documentation\n\nCette documentation OpenAPI est disponible au format JSON à l'adresse `/openapi.json` de ce serveur.\n\nSi vous préférez, vous pouvez importer ce fichier dans Postman pour accéder à la documentation de manière plus simple et interactive.\n\n## Authentification\n\nToutes les routes de cette API nécessitent une authentification Bearer token. Pour utiliser ces routes :\n\n1. Cliquez sur le bouton **Authorize** en haut à droite\n2. Entrez votre token dans le champ **Value**\n3. Cliquez sur **Authorize** puis **Close**\n\nLe token sera automatiquement inclus dans l'en-tête `Authorization: Bearer <token>` de vos requêtes.\n\nLe token permet de logger les appels et réponses pour le suivi et le débogage.\n\n## Limitations\n\nAucune restriction CORS ni limitation de débit n'est appliquée sur cette API.\n\n## Identification des comptes\n\nChaque compte est identifié dans la base de données :\n\n- Soit par son username Instagram (forcément en minuscule)\n- Soit par le sub_id : ce terme est utilisé pour notre gestion interne. Lors de la connexion d'un nouveau compte, si vous ne connaissez pas le sub_id ou que vous ne pouvez pas en définir un, utilisez le username Instagram du compte"},"servers":[{"url":"https://api.centuriegrowth.com","description":"Serveur courant"}],"paths":{"/HR/{path}":{"get":{"summary":"Endpoints Instagram réels de notre ferme de scraping","description":"Donne accès aux endpoints Instagram réels de notre ferme de scraping. Le chemin après `/HR` est appelé tel quel (ex. `GET /HR/v2/user/by/username?username=...`). Un token API valide (`Authorization: Bearer <token>`) est requis.","operationId":"proxyScraping","tags":["HR - Ferme de scraping"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"path","in":"path","required":true,"description":"Endpoint Instagram à appeler (sans le préfixe `/HR`). Exemple : `v2/user/by/username`.","schema":{"type":"string"},"example":"v2/user/by/username"}],"responses":{"200":{"description":"Données Instagram renvoyées par notre ferme de scraping.","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"500":{"description":"API de scraping non configurée","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Scraping API is not configured","requestId":"req-123456"}}}},"502":{"description":"Impossible de joindre notre ferme de scraping","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to reach scraping API","requestId":"req-123456"}}}}}}},"/subscriptions":{"get":{"summary":"Liste les abonnements du client (avec compte lié éventuel)","description":"Liste tous les abonnements utilisables (active/non_renewing/in_trial, ou past_due selon le facturier) du client identifié par le token cbk_ : sub_id, date de création, date de renouvellement, s'il se renouvelle, et le compte Instagram lié (username) s'il existe.","operationId":"listSubscriptions","tags":["Abonnements"],"security":[{"BearerAuth":[]}],"responses":{"200":{"description":"Liste des abonnements","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"integer","example":2},"subscriptions":{"type":"array","items":{"type":"object","properties":{"sub_id":{"type":"string","example":"sub_xxxxxxxxxxxx"},"status":{"type":"string","enum":["active","non_renewing","in_trial","past_due"],"example":"active"},"created_at":{"type":"string","format":"date-time","nullable":true,"example":"2026-01-01T00:00:00.000Z"},"renewal_date":{"type":"string","format":"date-time","nullable":true,"description":"Fin de la periode courante (prochain renouvellement)","example":"2026-02-01T00:00:00.000Z"},"will_renew":{"type":"boolean","description":"false si non_renewing","example":true},"linked":{"type":"boolean","example":true},"username":{"type":"string","nullable":true,"example":"example_user"}}}}}},"example":{"count":2,"subscriptions":[{"sub_id":"sub_xxxxxxxxxxxx","status":"active","created_at":"2026-01-01T00:00:00.000Z","renewal_date":"2026-02-01T00:00:00.000Z","will_renew":true,"linked":true,"username":"example_user"},{"sub_id":"sub_yyyyyyyyyyyy","status":"non_renewing","created_at":"2026-01-15T00:00:00.000Z","renewal_date":"2026-02-15T00:00:00.000Z","will_renew":false,"linked":false,"username":null}]}}}},"401":{"description":"Token manquant ou invalide (un token client cbk_ est requis)"},"502":{"description":"Échec de l'appel au facturier"}}}},"/subscriptions/{sub_id}":{"get":{"summary":"Toutes les informations d'un abonnement (sub_id)","description":"Renvoie les informations d'un abonnement du client identifié par le token : les détails de l'abonnement chez le facturier (statut, dates, renouvellement) et le compte Instagram lié avec ses champs NON SENSIBLES (ou null si aucun compte n'est lié).\n\nPropriété vérifiée : le sub_id doit appartenir aux abonnements utilisables (active/non_renewing/in_trial, ou past_due selon le facturier) du client. Si ce n'est pas le cas, l'API répond 404 (elle ne révèle pas l'existence d'un abonnement appartenant à un autre client).\n\n🔒 Le bloc `account` n'expose JAMAIS les secrets (password, twofa, twofa_key) : ces champs sont volontairement exclus de la réponse.","operationId":"getSubscriptionDetail","tags":["Abonnements"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"sub_id","in":"path","required":true,"description":"Identifiant de l'abonnement (sub_id) appartenant au client.","schema":{"type":"string","example":"AzZjHiVFXQaGg5Pgs"}}],"responses":{"200":{"description":"Toutes les informations de l'abonnement (et du compte lié s'il existe)","content":{"application/json":{"schema":{"type":"object","properties":{"sub_id":{"type":"string","example":"AzZjHiVFXQaGg5Pgs"},"subscription":{"type":"object","properties":{"status":{"type":"string","enum":["active","non_renewing","in_trial","past_due"],"example":"active"},"created_at":{"type":"string","format":"date-time","nullable":true,"example":"2026-01-12T10:04:00.000Z"},"renewal_date":{"type":"string","format":"date-time","nullable":true,"example":"2026-07-12T10:04:00.000Z"},"will_renew":{"type":"boolean","example":true}}},"linked":{"type":"boolean","description":"true si un compte Instagram est rattaché à ce sub_id.","example":true},"account":{"type":"object","nullable":true,"description":"Compte Instagram lié avec ses champs NON SENSIBLES (null si aucun compte lié). 🔒 Les secrets (password, twofa, twofa_key) ne sont JAMAIS renvoyés.","additionalProperties":false,"properties":{"username":{"type":"string","example":"example_user"},"sub_id":{"type":"string","example":"AzZjHiVFXQaGg5Pgs"},"cus_id":{"type":"array","items":{"type":"string"}},"email":{"type":"string","nullable":true},"phone_number":{"type":"string","nullable":true},"current_status":{"type":"string","nullable":true,"example":"connected"},"status":{"type":"string","nullable":true,"example":"active"},"is_active":{"type":"boolean","nullable":true},"is_verified":{"type":"boolean","nullable":true},"is_private":{"type":"boolean","nullable":true},"child":{"type":"boolean","nullable":true},"expert":{"type":"boolean","nullable":true},"followers_count":{"type":"integer","nullable":true,"example":8004},"following_count":{"type":"integer","nullable":true},"posts_count":{"type":"integer","nullable":true},"bio":{"type":"string","nullable":true},"website":{"type":"string","nullable":true},"profile_picture":{"type":"string","nullable":true},"notes":{"type":"string","nullable":true},"last_login":{"type":"string","format":"date-time","nullable":true},"last_action":{"type":"string","format":"date-time","nullable":true},"created_at":{"type":"string","format":"date-time","nullable":true},"updated_at":{"type":"string","format":"date-time","nullable":true}}}}}}}},"401":{"description":"Token client (cbk_) requis"},"404":{"description":"Abonnement introuvable ou n'appartenant pas au client"},"502":{"description":"Échec de l'appel au facturier"}}}},"/accounts":{"get":{"summary":"Récupère vos comptes Instagram","description":"Pour un token client (cbk_), inclut aussi les abonnements utilisables (actifs/trialing, ou past_due selon le facturier) SANS compte lié, renvoyés avec current_status='unlinked' (username=null). Utiliser current_status=unlinked pour ne lister que ceux-là. Chaque compte expose is_active : true = en marche, false = en pause (null pour les entrées 'unlinked').","operationId":"getAccounts","tags":["Accounts"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"current_status","in":"query","required":false,"description":"Filtre facultatif par statut du compte. Si absent, tous les comptes sont retournés.","schema":{"type":"string","enum":["connected","wrong_password","cancelled","wrong_2fa","pending","username_not_found","waiting_for_connect","challenge_required","unlinked"]},"example":"connected"}],"responses":{"200":{"description":"Liste des comptes Instagram récupérée avec succès","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountSummary"}},"example":[{"sub_id":"xxx","username":"example_user","current_status":"connected","expert":false,"is_active":true},{"sub_id":"xxx","username":"example_user_2","current_status":"connected","expert":true,"is_active":false},{"sub_id":"xxx","username":null,"current_status":"unlinked","expert":null,"is_active":null}]}}},"400":{"description":"Requête invalide - Valeur de current_status non autorisée","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid current_status. Allowed values: connected, wrong_password, cancelled, wrong_2fa, pending, username_not_found, waiting_for_connect, challenge_required, unlinked","requestId":"req-123456"}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch accounts","requestId":"req-123456"}}}}}}},"/accounts/detailed":{"get":{"summary":"Récupère vos comptes Instagram avec informations détaillées","description":"Retourne la liste des comptes Instagram avec les informations détaillées de chaque profil Instagram (followers, followings, bio, etc.). Chaque compte expose is_active : true = en marche, false = en pause.","operationId":"getAccountsDetailed","tags":["Accounts"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"current_status","in":"query","required":false,"description":"Filtre facultatif par statut du compte. Si absent, tous les comptes sont retournés.","schema":{"type":"string","enum":["connected","wrong_password","cancelled","wrong_2fa","pending","username_not_found","waiting_for_connect","challenge_required","unlinked"]},"example":"connected"}],"responses":{"200":{"description":"Liste des comptes Instagram avec détails récupérée avec succès","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountDetailed"}},"example":[{"sub_id":"sub_xxxxxxxxxxxx","username":"example_user","infos":{"pk":"173560420","username":"example_user","full_name":"Cristiano Ronaldo","is_verified":true,"media_count":3456,"follower_count":650000000,"following_count":564,"biography":"Footballer"},"current_status":"wrong_password","expert":false,"is_active":true},{"sub_id":"subtest","username":"random_user_123","infos":null,"current_status":null,"expert":null,"is_active":false}]}}},"400":{"description":"Requête invalide - Valeur de current_status non autorisée","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid current_status. Allowed values: connected, wrong_password, cancelled, wrong_2fa, pending, username_not_found, waiting_for_connect, challenge_required, unlinked","requestId":"req-123456"}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch accounts with details","requestId":"req-123456"}}}}}}},"/accounts/actions":{"get":{"summary":"Export des actions de tous les comptes, groupé par compte","description":"Export de l'historique brut des actions de TOUS les comptes accessibles par le token, groupé par compte (détail, non agrégé), sur les N derniers jours. Requête lourde prévue pour un usage ponctuel (peut prendre plusieurs dizaines de secondes).","operationId":"getAccountsActionsExport","tags":["Accounts"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"days","in":"query","required":false,"description":"Profondeur d'historique en jours (défaut: 90, plafonné à 365). Toute valeur supérieure est ramenée à 365.","schema":{"type":"integer","minimum":0,"default":90,"maximum":365},"example":90}],"responses":{"200":{"description":"Export récupéré avec succès","content":{"application/json":{"schema":{"type":"object","properties":{"days":{"type":"integer","description":"Profondeur effective utilisée (jours)"},"total_accounts":{"type":"integer","description":"Nombre de comptes accessibles inclus"},"total_actions":{"type":"integer","description":"Nombre total d'actions retournées"},"accounts":{"type":"object","description":"Dictionnaire { username: liste d'actions }. Tous les comptes accessibles apparaissent, même sans action (liste vide).","additionalProperties":{"type":"array","items":{"type":"object","properties":{"action_date":{"type":"string","format":"date-time","nullable":true,"description":"Date et heure de l'action"},"action_type":{"type":"string","description":"Type d'action effectuée","enum":["post_like","story_like","story_view","follow","unfollow","screenshot","swipe_feed","welcome_dm","cold_dm","follow_temp"]},"interactor_username":{"type":"string","nullable":true,"description":"Nom d'utilisateur de l'interacteur (compte ciblé)"},"success":{"type":"boolean","nullable":true,"description":"Indique si l'action a réussi"}}}}}}},"example":{"days":90,"total_accounts":2,"total_actions":3,"accounts":{"example_user":[{"action_date":"2025-09-19T08:12:00.000Z","action_type":"follow","interactor_username":"target_one","success":true},{"action_date":"2025-09-19T09:01:00.000Z","action_type":"story_like","interactor_username":"target_two","success":true}],"another_user":[{"action_date":"2025-09-20T10:30:00.000Z","action_type":"post_like","interactor_username":"target_three","success":false}]}}}}},"400":{"description":"Requête invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"days parameter must be a positive number","requestId":"req-123456"}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to export actions","requestId":"req-123456"}}}}}}},"/account/sub_id/{sub_id}/config":{"get":{"summary":"Récupère les critères de configuration d'un compte par sub_id","description":"","operationId":"getAccountConfigBySubId","tags":["Account - Configuration"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"sub_id","in":"path","required":true,"description":"Identifiant d'abonnement (sub_id) du compte — recherche stricte par sub_id, aucune ambiguïté avec un username","schema":{"type":"string"},"example":"sub_6olJRV1lBoRY2FUt"}],"responses":{"200":{"description":"Critères de configuration récupérés avec succès","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Criteria"},"example":{"per_day_like_post":150,"per_day_like_story":200,"per_day_follow":30,"enabled_post_like":true,"enabled_like_story":true,"enabled_follow":false,"enabled_warmup":false,"enabled_cold_dm":false,"message_cold_dm":null,"enabled_welcome_dm":true,"message_welcome_dm":"Bienvenue ! Merci de me suivre.","updated_at":"2025-12-02T10:30:00.000Z"}}}},"400":{"description":"Requête invalide - Paramètre manquant","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"missing_header":{"summary":"Header Authorization manquant","value":{"error":"Authorization header is missing","requestId":"req-123456"}},"invalid_format":{"summary":"Format du header invalide","value":{"error":"Invalid authorization header format. Expected: Bearer <token>","requestId":"req-123456"}},"invalid_token":{"summary":"Token invalide","value":{"error":"Invalid token","requestId":"req-123456"}}}}}},"403":{"description":"Accès refusé - Le token n'a pas accès à ce compte","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Access denied: you do not have access to this account","requestId":"req-123456"}}}},"404":{"description":"Ressource non trouvée","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"account_not_found":{"summary":"Compte non trouvé ou accès refusé","value":{"error":"No account found with identifier: sub-123 or access denied","requestId":"req-123456"}},"criteria_not_found":{"summary":"Critères non trouvés","value":{"error":"No criteria found for account: instagram","requestId":"req-123456"}}}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch criteria","requestId":"req-123456"}}}}}},"put":{"summary":"Met à jour (ou crée) les critères de configuration d'un compte par sub_id","description":"**Écriture idempotente (upsert)** : si le compte ne possède AUCUNE ligne de configuration (`criteria`), elle est **CRÉÉE** avec les valeurs par défaut du service, puis les champs fournis dans le corps sont appliqués par-dessus ; la réponse est alors un **200** avec la configuration résultante (et non un 404). C'est indispensable : sans ligne `criteria`, le compte n'est pas pris en charge par le bot.\n\nValeurs par défaut appliquées **uniquement à la création** : `per_day_like_post` 250, `per_day_like_story` 250, `per_day_follow` 50, `enabled_post_like` true, `enabled_like_story` true, `enabled_follow` false, `enabled_warmup` false, `enabled_cold_dm` false, `enabled_welcome_dm` false, `message_cold_dm` null, `message_welcome_dm` null (plus les seuils de followers internes). Les champs fournis dans le corps priment sur ces défauts, et les mêmes validations s'appliquent qu'il s'agisse d'une création ou d'une mise à jour (bornes `per_day_*`, gate Expert sur l'activation des DM).\n\nSur une ligne déjà existante, **seuls les champs fournis** sont modifiés ; les autres sont laissés intacts.\n\nLe **seul 404** possible sur cette route est « compte introuvable ou hors du périmètre du token » — l'absence de configuration n'est jamais un 404.\n\nDeux appels concurrents sur le même compte ne peuvent plus provoquer d'erreur : l'écriture est un upsert atomique côté PostgreSQL.","operationId":"updateAccountConfigBySubId","tags":["Account - Configuration"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"sub_id","in":"path","required":true,"description":"Identifiant d'abonnement (sub_id) du compte — recherche stricte par sub_id, aucune ambiguïté avec un username","schema":{"type":"string"},"example":"sub_6olJRV1lBoRY2FUt"}],"requestBody":{"required":true,"description":"Critères à mettre à jour. Au moins un champ doit être fourni. Le MINIMUM des champs `per_day_*` est **1** pour toutes les actions (expert ou non) ; seul le MAXIMUM dépend du type de compte (normal ou expert), voir les descriptions ci-dessous. Seuls les champs fournis sont validés. L'ACTIVATION des DM (`enabled_cold_dm`/`enabled_welcome_dm` à `true`) est réservée aux comptes Expert ; la désactivation et la modification des messages (`message_cold_dm`/`message_welcome_dm`) restent autorisées pour tous. Le champ `enabled_warmup` (booléen, défaut false) active ou coupe la phase de warmup (montée en puissance progressive des quotas).","content":{"application/json":{"schema":{"type":"object","properties":{"enabled_post_like":{"type":"boolean","description":"Active/désactive les likes de posts"},"enabled_like_story":{"type":"boolean","description":"Active/désactive les likes de stories"},"enabled_follow":{"type":"boolean","description":"Active/désactive le follow"},"enabled_warmup":{"type":"boolean","description":"Active/coupe la phase de warmup (montée en puissance progressive des quotas). Défaut : false."},"per_day_like_post":{"type":"integer","minimum":1,"maximum":350,"description":"Nombre de likes de posts par jour. Bornes inclusives : Normal [1, 250], Expert [1, 350]. Le minimum est 1 quel que soit le type de compte."},"per_day_like_story":{"type":"integer","minimum":1,"maximum":550,"description":"Nombre de likes de stories par jour. Bornes inclusives : Normal [1, 250], Expert [1, 550]. Le minimum est 1 quel que soit le type de compte."},"per_day_follow":{"type":"integer","minimum":1,"maximum":90,"description":"Nombre de follows par jour. Bornes inclusives : Normal [1, 70], Expert [1, 90]. Le minimum est 1 quel que soit le type de compte."},"enabled_cold_dm":{"type":"boolean","description":"Active/désactive le cold DM. L'activation (true) est réservée aux comptes Expert."},"message_cold_dm":{"type":"string","description":"Message du cold DM. Modifiable par tous les comptes."},"enabled_welcome_dm":{"type":"boolean","description":"Active/désactive le welcome DM. L'activation (true) est réservée aux comptes Expert."},"message_welcome_dm":{"type":"string","description":"Message du welcome DM. Modifiable par tous les comptes."}},"minProperties":1},"examples":{"update_all_normal":{"summary":"Mise à jour complète (compte normal)","value":{"enabled_post_like":true,"enabled_like_story":true,"enabled_follow":false,"per_day_like_post":150,"per_day_like_story":200,"per_day_follow":30}},"update_all_expert":{"summary":"Mise à jour complète (compte expert)","value":{"enabled_post_like":true,"enabled_like_story":true,"enabled_follow":true,"per_day_like_post":350,"per_day_like_story":550,"per_day_follow":90}},"update_partial":{"summary":"Mise à jour partielle","value":{"enabled_post_like":true,"per_day_like_post":100}},"create_missing_criteria":{"summary":"Compte sans configuration : la ligne est CRÉÉE (200, pas 404)","description":"Sur un compte qui n'a encore aucune ligne `criteria`, ce corps crée la configuration avec les valeurs par défaut du service, en n'imposant ici que `enabled_follow`. Les autres champs prennent leurs valeurs par défaut de création (per_day_like_post 250, per_day_like_story 250, per_day_follow 50, enabled_post_like true, enabled_like_story true, enabled_warmup false, DM désactivés).","value":{"enabled_follow":true}},"update_boolean_only":{"summary":"Mise à jour des booléens uniquement","value":{"enabled_post_like":false,"enabled_like_story":false,"enabled_follow":false}},"toggle_warmup":{"summary":"Activation/coupure du warmup uniquement","value":{"enabled_warmup":true}},"update_limits_only":{"summary":"Mise à jour des limites uniquement (compte normal)","value":{"per_day_like_post":250,"per_day_like_story":250,"per_day_follow":70}},"update_limits_minimum":{"summary":"Limites au minimum (1/jour, valable expert comme non-expert)","value":{"per_day_like_post":1,"per_day_like_story":1,"per_day_follow":1}},"update_dm_messages_any":{"summary":"Mise à jour des messages DM (autorisée pour tous)","value":{"message_cold_dm":"Salut, on te propose une offre exclusive !","message_welcome_dm":"Bienvenue ! Merci de me suivre."}},"enable_dm_expert":{"summary":"Activation des DM (compte Expert uniquement)","value":{"enabled_cold_dm":true,"enabled_welcome_dm":true,"message_cold_dm":"Salut, on te propose une offre exclusive !","message_welcome_dm":"Bienvenue ! Merci de me suivre."}}}}}},"responses":{"200":{"description":"Critères mis à jour avec succès — ou CRÉÉS puis renvoyés si le compte n'avait encore aucune ligne de configuration (même code 200 dans les deux cas)","content":{"application/json":{"schema":{"type":"object","properties":{"per_day_like_post":{"type":"integer","nullable":true},"per_day_like_story":{"type":"integer","nullable":true},"per_day_follow":{"type":"integer","nullable":true},"enabled_post_like":{"type":"boolean","nullable":true},"enabled_like_story":{"type":"boolean","nullable":true},"enabled_follow":{"type":"boolean","nullable":true},"enabled_warmup":{"type":"boolean","nullable":true},"enabled_cold_dm":{"type":"boolean","nullable":true},"message_cold_dm":{"type":"string","nullable":true},"enabled_welcome_dm":{"type":"boolean","nullable":true},"message_welcome_dm":{"type":"string","nullable":true},"updated_at":{"type":"string","format":"date-time","nullable":true}}},"example":{"per_day_like_post":150,"per_day_like_story":200,"per_day_follow":30,"enabled_post_like":true,"enabled_like_story":true,"enabled_follow":false,"enabled_warmup":false,"enabled_cold_dm":false,"message_cold_dm":null,"enabled_welcome_dm":true,"message_welcome_dm":"Bienvenue ! Merci de me suivre.","updated_at":"2025-12-02T10:30:00.000Z"}}}},"400":{"description":"Requête invalide - Paramètre manquant ou valeur invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"no_fields":{"summary":"Aucun champ à mettre à jour","value":{"error":"At least one field to update must be provided","requestId":"req-123456"}},"invalid_boolean":{"summary":"Valeur booléenne invalide","value":{"error":"enabled_post_like must be a boolean","requestId":"req-123456"}},"invalid_range_post_normal":{"summary":"Valeur hors limites (posts, compte normal)","value":{"error":"per_day_like_post doit être entre 1 et 250 (compte normal)","requestId":"req-123456","details":{"field":"per_day_like_post","min":1,"max":250,"account_kind":"normal"}}},"invalid_range_story_expert":{"summary":"Valeur hors limites (stories, compte expert)","value":{"error":"per_day_like_story doit être entre 1 et 550 (compte expert)","requestId":"req-123456","details":{"field":"per_day_like_story","min":1,"max":550,"account_kind":"expert"}}},"invalid_range_follow_expert":{"summary":"Valeur hors limites (follows, compte expert)","value":{"error":"per_day_follow doit être entre 1 et 90 (compte expert)","requestId":"req-123456","details":{"field":"per_day_follow","min":1,"max":90,"account_kind":"expert"}}},"invalid_dm_boolean":{"summary":"Valeur booléenne DM invalide","value":{"error":"enabled_cold_dm must be a boolean","requestId":"req-123456"}},"invalid_dm_message":{"summary":"Message DM invalide (doit être une chaîne)","value":{"error":"message_cold_dm must be a string","requestId":"req-123456"}},"dm_activation_not_expert":{"summary":"Activation des DM refusée (compte non-Expert)","value":{"error":"L'activation des DM (cold/welcome) est réservée aux comptes Expert.","requestId":"req-123456","details":{"account_kind":"normal"}}}}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"missing_header":{"summary":"Header Authorization manquant","value":{"error":"Authorization header is missing","requestId":"req-123456"}},"invalid_format":{"summary":"Format du header invalide","value":{"error":"Invalid authorization header format. Expected: Bearer <token>","requestId":"req-123456"}},"invalid_token":{"summary":"Token invalide","value":{"error":"Invalid token","requestId":"req-123456"}}}}}},"403":{"description":"Accès refusé - Le token n'a pas accès à ce compte","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Access denied: you do not have access to this account","requestId":"req-123456"}}}},"404":{"description":"Compte non trouvé ou hors du périmètre du token. L'absence de ligne de configuration (`criteria`) n'est JAMAIS un 404 sur cette route : la ligne est créée et la réponse est un 200.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"account_not_found":{"summary":"Compte non trouvé ou accès refusé (SEUL cas de 404 sur cette route)","value":{"error":"No account found with identifier: sub-123 or access denied","requestId":"req-123456"}}}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to update criteria","requestId":"req-123456"}}}}}}},"/account/username/{username}/config":{"get":{"summary":"Récupère les critères de configuration d'un compte par username","description":"","operationId":"getAccountConfigByUsername","tags":["Account - Configuration"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"username","in":"path","required":true,"description":"Nom d'utilisateur Instagram du compte — recherche stricte par username (le @ initial est ignoré)","schema":{"type":"string"},"example":"example_user"}],"responses":{"200":{"description":"Critères de configuration récupérés avec succès","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Criteria"},"example":{"per_day_like_post":150,"per_day_like_story":200,"per_day_follow":30,"enabled_post_like":true,"enabled_like_story":true,"enabled_follow":false,"enabled_warmup":false,"enabled_cold_dm":false,"message_cold_dm":null,"enabled_welcome_dm":true,"message_welcome_dm":"Bienvenue ! Merci de me suivre.","updated_at":"2025-12-02T10:30:00.000Z"}}}},"400":{"description":"Requête invalide - Paramètre manquant","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"missing_header":{"summary":"Header Authorization manquant","value":{"error":"Authorization header is missing","requestId":"req-123456"}},"invalid_format":{"summary":"Format du header invalide","value":{"error":"Invalid authorization header format. Expected: Bearer <token>","requestId":"req-123456"}},"invalid_token":{"summary":"Token invalide","value":{"error":"Invalid token","requestId":"req-123456"}}}}}},"403":{"description":"Accès refusé - Le token n'a pas accès à ce compte","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Access denied: you do not have access to this account","requestId":"req-123456"}}}},"404":{"description":"Ressource non trouvée","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"account_not_found":{"summary":"Compte non trouvé ou accès refusé","value":{"error":"No account found with identifier: example_user or access denied","requestId":"req-123456"}},"criteria_not_found":{"summary":"Critères non trouvés","value":{"error":"No criteria found for account: instagram","requestId":"req-123456"}}}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch criteria","requestId":"req-123456"}}}}}},"put":{"summary":"Met à jour (ou crée) les critères de configuration d'un compte par username","description":"**Écriture idempotente (upsert)** : si le compte ne possède AUCUNE ligne de configuration (`criteria`), elle est **CRÉÉE** avec les valeurs par défaut du service, puis les champs fournis dans le corps sont appliqués par-dessus ; la réponse est alors un **200** avec la configuration résultante (et non un 404). C'est indispensable : sans ligne `criteria`, le compte n'est pas pris en charge par le bot.\n\nValeurs par défaut appliquées **uniquement à la création** : `per_day_like_post` 250, `per_day_like_story` 250, `per_day_follow` 50, `enabled_post_like` true, `enabled_like_story` true, `enabled_follow` false, `enabled_warmup` false, `enabled_cold_dm` false, `enabled_welcome_dm` false, `message_cold_dm` null, `message_welcome_dm` null (plus les seuils de followers internes). Les champs fournis dans le corps priment sur ces défauts, et les mêmes validations s'appliquent qu'il s'agisse d'une création ou d'une mise à jour (bornes `per_day_*`, gate Expert sur l'activation des DM).\n\nSur une ligne déjà existante, **seuls les champs fournis** sont modifiés ; les autres sont laissés intacts.\n\nLe **seul 404** possible sur cette route est « compte introuvable ou hors du périmètre du token » — l'absence de configuration n'est jamais un 404.\n\nDeux appels concurrents sur le même compte ne peuvent plus provoquer d'erreur : l'écriture est un upsert atomique côté PostgreSQL.","operationId":"updateAccountConfigByUsername","tags":["Account - Configuration"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"username","in":"path","required":true,"description":"Nom d'utilisateur Instagram du compte — recherche stricte par username (le @ initial est ignoré)","schema":{"type":"string"},"example":"example_user"}],"requestBody":{"required":true,"description":"Critères à mettre à jour. Au moins un champ doit être fourni. Le MINIMUM des champs `per_day_*` est **1** pour toutes les actions (expert ou non) ; seul le MAXIMUM dépend du type de compte (normal ou expert), voir les descriptions ci-dessous. Seuls les champs fournis sont validés. L'ACTIVATION des DM (`enabled_cold_dm`/`enabled_welcome_dm` à `true`) est réservée aux comptes Expert ; la désactivation et la modification des messages (`message_cold_dm`/`message_welcome_dm`) restent autorisées pour tous. Le champ `enabled_warmup` (booléen, défaut false) active ou coupe la phase de warmup (montée en puissance progressive des quotas).","content":{"application/json":{"schema":{"type":"object","properties":{"enabled_post_like":{"type":"boolean","description":"Active/désactive les likes de posts"},"enabled_like_story":{"type":"boolean","description":"Active/désactive les likes de stories"},"enabled_follow":{"type":"boolean","description":"Active/désactive le follow"},"enabled_warmup":{"type":"boolean","description":"Active/coupe la phase de warmup (montée en puissance progressive des quotas). Défaut : false."},"per_day_like_post":{"type":"integer","minimum":1,"maximum":350,"description":"Nombre de likes de posts par jour. Bornes inclusives : Normal [1, 250], Expert [1, 350]. Le minimum est 1 quel que soit le type de compte."},"per_day_like_story":{"type":"integer","minimum":1,"maximum":550,"description":"Nombre de likes de stories par jour. Bornes inclusives : Normal [1, 250], Expert [1, 550]. Le minimum est 1 quel que soit le type de compte."},"per_day_follow":{"type":"integer","minimum":1,"maximum":90,"description":"Nombre de follows par jour. Bornes inclusives : Normal [1, 70], Expert [1, 90]. Le minimum est 1 quel que soit le type de compte."},"enabled_cold_dm":{"type":"boolean","description":"Active/désactive le cold DM. L'activation (true) est réservée aux comptes Expert."},"message_cold_dm":{"type":"string","description":"Message du cold DM. Modifiable par tous les comptes."},"enabled_welcome_dm":{"type":"boolean","description":"Active/désactive le welcome DM. L'activation (true) est réservée aux comptes Expert."},"message_welcome_dm":{"type":"string","description":"Message du welcome DM. Modifiable par tous les comptes."}},"minProperties":1},"examples":{"update_all_normal":{"summary":"Mise à jour complète (compte normal)","value":{"enabled_post_like":true,"enabled_like_story":true,"enabled_follow":false,"per_day_like_post":150,"per_day_like_story":200,"per_day_follow":30}},"update_all_expert":{"summary":"Mise à jour complète (compte expert)","value":{"enabled_post_like":true,"enabled_like_story":true,"enabled_follow":true,"per_day_like_post":350,"per_day_like_story":550,"per_day_follow":90}},"update_partial":{"summary":"Mise à jour partielle","value":{"enabled_post_like":true,"per_day_like_post":100}},"create_missing_criteria":{"summary":"Compte sans configuration : la ligne est CRÉÉE (200, pas 404)","description":"Sur un compte qui n'a encore aucune ligne `criteria`, ce corps crée la configuration avec les valeurs par défaut du service, en n'imposant ici que `enabled_follow`. Les autres champs prennent leurs valeurs par défaut de création (per_day_like_post 250, per_day_like_story 250, per_day_follow 50, enabled_post_like true, enabled_like_story true, enabled_warmup false, DM désactivés).","value":{"enabled_follow":true}},"update_boolean_only":{"summary":"Mise à jour des booléens uniquement","value":{"enabled_post_like":false,"enabled_like_story":false,"enabled_follow":false}},"toggle_warmup":{"summary":"Activation/coupure du warmup uniquement","value":{"enabled_warmup":true}},"update_limits_only":{"summary":"Mise à jour des limites uniquement (compte normal)","value":{"per_day_like_post":250,"per_day_like_story":250,"per_day_follow":70}},"update_limits_minimum":{"summary":"Limites au minimum (1/jour, valable expert comme non-expert)","value":{"per_day_like_post":1,"per_day_like_story":1,"per_day_follow":1}},"update_dm_messages_any":{"summary":"Mise à jour des messages DM (autorisée pour tous)","value":{"message_cold_dm":"Salut, on te propose une offre exclusive !","message_welcome_dm":"Bienvenue ! Merci de me suivre."}},"enable_dm_expert":{"summary":"Activation des DM (compte Expert uniquement)","value":{"enabled_cold_dm":true,"enabled_welcome_dm":true,"message_cold_dm":"Salut, on te propose une offre exclusive !","message_welcome_dm":"Bienvenue ! Merci de me suivre."}}}}}},"responses":{"200":{"description":"Critères mis à jour avec succès — ou CRÉÉS puis renvoyés si le compte n'avait encore aucune ligne de configuration (même code 200 dans les deux cas)","content":{"application/json":{"schema":{"type":"object","properties":{"per_day_like_post":{"type":"integer","nullable":true},"per_day_like_story":{"type":"integer","nullable":true},"per_day_follow":{"type":"integer","nullable":true},"enabled_post_like":{"type":"boolean","nullable":true},"enabled_like_story":{"type":"boolean","nullable":true},"enabled_follow":{"type":"boolean","nullable":true},"enabled_warmup":{"type":"boolean","nullable":true},"enabled_cold_dm":{"type":"boolean","nullable":true},"message_cold_dm":{"type":"string","nullable":true},"enabled_welcome_dm":{"type":"boolean","nullable":true},"message_welcome_dm":{"type":"string","nullable":true},"updated_at":{"type":"string","format":"date-time","nullable":true}}},"example":{"per_day_like_post":150,"per_day_like_story":200,"per_day_follow":30,"enabled_post_like":true,"enabled_like_story":true,"enabled_follow":false,"enabled_warmup":false,"enabled_cold_dm":false,"message_cold_dm":null,"enabled_welcome_dm":true,"message_welcome_dm":"Bienvenue ! Merci de me suivre.","updated_at":"2025-12-02T10:30:00.000Z"}}}},"400":{"description":"Requête invalide - Paramètre manquant ou valeur invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"no_fields":{"summary":"Aucun champ à mettre à jour","value":{"error":"At least one field to update must be provided","requestId":"req-123456"}},"invalid_boolean":{"summary":"Valeur booléenne invalide","value":{"error":"enabled_post_like must be a boolean","requestId":"req-123456"}},"invalid_range_post_normal":{"summary":"Valeur hors limites (posts, compte normal)","value":{"error":"per_day_like_post doit être entre 1 et 250 (compte normal)","requestId":"req-123456","details":{"field":"per_day_like_post","min":1,"max":250,"account_kind":"normal"}}},"invalid_range_story_expert":{"summary":"Valeur hors limites (stories, compte expert)","value":{"error":"per_day_like_story doit être entre 1 et 550 (compte expert)","requestId":"req-123456","details":{"field":"per_day_like_story","min":1,"max":550,"account_kind":"expert"}}},"invalid_range_follow_expert":{"summary":"Valeur hors limites (follows, compte expert)","value":{"error":"per_day_follow doit être entre 1 et 90 (compte expert)","requestId":"req-123456","details":{"field":"per_day_follow","min":1,"max":90,"account_kind":"expert"}}},"invalid_dm_boolean":{"summary":"Valeur booléenne DM invalide","value":{"error":"enabled_cold_dm must be a boolean","requestId":"req-123456"}},"invalid_dm_message":{"summary":"Message DM invalide (doit être une chaîne)","value":{"error":"message_cold_dm must be a string","requestId":"req-123456"}},"dm_activation_not_expert":{"summary":"Activation des DM refusée (compte non-Expert)","value":{"error":"L'activation des DM (cold/welcome) est réservée aux comptes Expert.","requestId":"req-123456","details":{"account_kind":"normal"}}}}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"missing_header":{"summary":"Header Authorization manquant","value":{"error":"Authorization header is missing","requestId":"req-123456"}},"invalid_format":{"summary":"Format du header invalide","value":{"error":"Invalid authorization header format. Expected: Bearer <token>","requestId":"req-123456"}},"invalid_token":{"summary":"Token invalide","value":{"error":"Invalid token","requestId":"req-123456"}}}}}},"403":{"description":"Accès refusé - Le token n'a pas accès à ce compte","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Access denied: you do not have access to this account","requestId":"req-123456"}}}},"404":{"description":"Compte non trouvé ou hors du périmètre du token. L'absence de ligne de configuration (`criteria`) n'est JAMAIS un 404 sur cette route : la ligne est créée et la réponse est un 200.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"account_not_found":{"summary":"Compte non trouvé ou accès refusé (SEUL cas de 404 sur cette route)","value":{"error":"No account found with identifier: example_user or access denied","requestId":"req-123456"}}}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to update criteria","requestId":"req-123456"}}}}}}},"/account/sub_id/{sub_id}/stats":{"get":{"summary":"Récupère les statistiques d'actions d'un compte par sub_id","description":"","operationId":"getAccountStatsBySubId","tags":["Account - Statistiques"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"sub_id","in":"path","required":true,"description":"Identifiant d'abonnement (sub_id) du compte — recherche stricte par sub_id, aucune ambiguïté avec un username","schema":{"type":"string"},"example":"sub_6olJRV1lBoRY2FUt"},{"name":"days","in":"query","required":false,"description":"Nombre de jours dans le passé (0 = aujourd'hui uniquement, 5 = les 5 derniers jours + aujourd'hui)","schema":{"type":"integer","minimum":0,"default":0},"example":0}],"responses":{"200":{"description":"Statistiques récupérées avec succès","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"integer"},"description":"Nombre d'actions par type pour cette date"},"description":"Objet avec les dates (YYYY-MM-DD) comme clés et les statistiques d'actions comme valeurs"},"examples":{"today_only":{"summary":"Statistiques d'aujourd'hui (days=0)","value":{"2025-12-02":{"post_like":45,"story_like":23,"follow":12}}},"last_3_days":{"summary":"Statistiques des 3 derniers jours (days=2)","value":{"2025-11-30":{"post_like":30,"follow":8},"2025-12-01":{"post_like":42,"story_like":15},"2025-12-02":{"post_like":45,"story_like":23,"follow":12}}},"no_actions":{"summary":"Jour sans actions","value":{"2025-12-02":{}}},"real_example":{"summary":"Exemple réel sur 5 jours","value":{"2025-11-27":{},"2025-11-28":{"screenshot":477},"2025-11-29":{"screenshot":718},"2025-11-30":{"screenshot":729},"2025-12-01":{"screenshot":773},"2025-12-02":{"screenshot":140,"follow":26,"post_like":135,"story_view":375,"story_like":176}}}}}}},"400":{"description":"Requête invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"invalid_days":{"summary":"Paramètre days invalide","value":{"error":"days parameter must be a positive number","requestId":"req-123456"}}}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"missing_header":{"summary":"Header Authorization manquant","value":{"error":"Authorization header is missing","requestId":"req-123456"}},"invalid_token":{"summary":"Token invalide","value":{"error":"Invalid token","requestId":"req-123456"}}}}}},"403":{"description":"Accès refusé - Le token n'a pas accès à ce compte","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Access denied: you do not have access to this account","requestId":"req-123456"}}}},"404":{"description":"Ressource non trouvée","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"account_not_found":{"summary":"Compte non trouvé ou accès refusé","value":{"error":"No account found with identifier: sub-123 or access denied","requestId":"req-123456"}}}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch stats","requestId":"req-123456"}}}}}}},"/account/username/{username}/stats":{"get":{"summary":"Récupère les statistiques d'actions d'un compte par username","description":"","operationId":"getAccountStatsByUsername","tags":["Account - Statistiques"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"username","in":"path","required":true,"description":"Nom d'utilisateur Instagram du compte — recherche stricte par username (le @ initial est ignoré)","schema":{"type":"string"},"example":"example_user"},{"name":"days","in":"query","required":false,"description":"Nombre de jours dans le passé (0 = aujourd'hui uniquement, 5 = les 5 derniers jours + aujourd'hui)","schema":{"type":"integer","minimum":0,"default":0},"example":0}],"responses":{"200":{"description":"Statistiques récupérées avec succès","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"integer"},"description":"Nombre d'actions par type pour cette date"},"description":"Objet avec les dates (YYYY-MM-DD) comme clés et les statistiques d'actions comme valeurs"},"examples":{"today_only":{"summary":"Statistiques d'aujourd'hui (days=0)","value":{"2025-12-02":{"post_like":45,"story_like":23,"follow":12}}},"last_3_days":{"summary":"Statistiques des 3 derniers jours (days=2)","value":{"2025-11-30":{"post_like":30,"follow":8},"2025-12-01":{"post_like":42,"story_like":15},"2025-12-02":{"post_like":45,"story_like":23,"follow":12}}},"no_actions":{"summary":"Jour sans actions","value":{"2025-12-02":{}}},"real_example":{"summary":"Exemple réel sur 5 jours","value":{"2025-11-27":{},"2025-11-28":{"screenshot":477},"2025-11-29":{"screenshot":718},"2025-11-30":{"screenshot":729},"2025-12-01":{"screenshot":773},"2025-12-02":{"screenshot":140,"follow":26,"post_like":135,"story_view":375,"story_like":176}}}}}}},"400":{"description":"Requête invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"invalid_days":{"summary":"Paramètre days invalide","value":{"error":"days parameter must be a positive number","requestId":"req-123456"}}}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"missing_header":{"summary":"Header Authorization manquant","value":{"error":"Authorization header is missing","requestId":"req-123456"}},"invalid_token":{"summary":"Token invalide","value":{"error":"Invalid token","requestId":"req-123456"}}}}}},"403":{"description":"Accès refusé - Le token n'a pas accès à ce compte","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Access denied: you do not have access to this account","requestId":"req-123456"}}}},"404":{"description":"Ressource non trouvée","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"account_not_found":{"summary":"Compte non trouvé ou accès refusé","value":{"error":"No account found with identifier: example_user or access denied","requestId":"req-123456"}}}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch stats","requestId":"req-123456"}}}}}}},"/account/sub_id/{sub_id}/gains":{"get":{"summary":"Récupère les gains (nouveaux followers/jour) d'un compte par sub_id","description":"Nombre de nouveaux followers par jour attribués à l'automatisation. Un follow-back n'est compté que s'il a reçu au moins une action automatisée dans les 10 jours le précédant ; le jour retenu est celui de la dernière action de cette fenêtre. Regroupement en UTC.","operationId":"getAccountGainsBySubId","tags":["Account - Statistiques"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"sub_id","in":"path","required":true,"description":"Identifiant d'abonnement (sub_id) du compte — recherche stricte par sub_id, aucune ambiguïté avec un username","schema":{"type":"string"},"example":"sub_6olJRV1lBoRY2FUt"},{"name":"days","in":"query","required":false,"description":"Nombre de jours dans le passé à récupérer (défaut: 30)","schema":{"type":"integer","minimum":0,"default":30},"example":30}],"responses":{"200":{"description":"Gains récupérés avec succès","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"integer","description":"Nombre de nouveaux followers attribués à cette date"},"description":"Objet avec les dates (YYYY-MM-DD) comme clés et le nombre de nouveaux followers comme valeurs (zéro inclus)"},"example":{"2025-09-17":4,"2025-09-18":0,"2025-09-19":2,"2025-09-20":1}}}},"400":{"description":"Requête invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"days parameter must be a positive number","requestId":"req-123456"}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"403":{"description":"Accès refusé - Le token n'a pas accès à ce compte","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Access denied: you do not have access to this account","requestId":"req-123456"}}}},"404":{"description":"Compte non trouvé ou accès refusé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"No account found with identifier: sub_xxx or access denied","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch gains","requestId":"req-123456"}}}}}}},"/account/username/{username}/gains":{"get":{"summary":"Récupère les gains (nouveaux followers/jour) d'un compte par username","description":"Nombre de nouveaux followers par jour attribués à l'automatisation. Un follow-back n'est compté que s'il a reçu au moins une action automatisée dans les 10 jours le précédant ; le jour retenu est celui de la dernière action de cette fenêtre. Regroupement en UTC.","operationId":"getAccountGainsByUsername","tags":["Account - Statistiques"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"username","in":"path","required":true,"description":"Nom d'utilisateur Instagram du compte — recherche stricte par username (le @ initial est ignoré)","schema":{"type":"string"},"example":"example_user"},{"name":"days","in":"query","required":false,"description":"Nombre de jours dans le passé à récupérer (défaut: 30)","schema":{"type":"integer","minimum":0,"default":30},"example":30}],"responses":{"200":{"description":"Gains récupérés avec succès","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"integer","description":"Nombre de nouveaux followers attribués à cette date"},"description":"Objet avec les dates (YYYY-MM-DD) comme clés et le nombre de nouveaux followers comme valeurs (zéro inclus)"},"example":{"2025-09-17":4,"2025-09-18":0,"2025-09-19":2,"2025-09-20":1}}}},"400":{"description":"Requête invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"days parameter must be a positive number","requestId":"req-123456"}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"403":{"description":"Accès refusé - Le token n'a pas accès à ce compte","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Access denied: you do not have access to this account","requestId":"req-123456"}}}},"404":{"description":"Compte non trouvé ou accès refusé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"No account found with identifier: example_user or access denied","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch gains","requestId":"req-123456"}}}}}}},"/account/sub_id/{sub_id}/followers-gained":{"get":{"summary":"Liste nominative des nouveaux followers gagnés, par sub_id","description":"Liste des nouveaux followers ATTRIBUÉS à l'automatisation, avec leur nom, la date du follow et les cibles dont ils proviennent. Même règle d'attribution que /gains : au moins une action automatisée dans les 10 jours précédant le follow-back ; le filtre days s'applique sur le jour d'attribution (attributed_action_date), donc les totaux collent aux compteurs /gains de la même période. sources = cibles du compte que ce follower suit (peut être vide si la provenance n'est pas résolvable). Pagination par 1000.","operationId":"getFollowersGainedBySubId","tags":["Account - Followers & Retours"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"sub_id","in":"path","required":true,"description":"Identifiant d'abonnement (sub_id) du compte — recherche stricte par sub_id, aucune ambiguïté avec un username","schema":{"type":"string"},"example":"sub_6olJRV1lBoRY2FUt"},{"name":"days","in":"query","required":false,"description":"Profondeur en jours, appliquée sur le jour d'attribution (défaut: 30, comme /gains)","schema":{"type":"integer","minimum":0,"default":30},"example":30},{"name":"page","in":"query","required":false,"description":"Numéro de page (1000 entrées par page, défaut: 1). Bornes acceptées : 1 à 2147484 (au-delà, l'OFFSET dépasserait la capacité d'un entier 32 bits de PostgreSQL) — une valeur hors bornes renvoie un 400 explicite, jamais un 500. Une page située après la dernière entrée renvoie 200 avec une liste vide.","schema":{"type":"integer","minimum":1,"maximum":2147484,"default":1},"example":1}],"responses":{"200":{"description":"Liste des nouveaux followers récupérée avec succès","content":{"application/json":{"schema":{"type":"object","required":["customer_username","days","pagination","followers"],"properties":{"customer_username":{"type":"string","example":"example_user"},"days":{"type":"integer","example":30},"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1},"page_size":{"type":"integer","example":1000},"total_followers":{"type":"integer","example":186},"total_pages":{"type":"integer","example":1},"has_next_page":{"type":"boolean","example":false},"has_previous_page":{"type":"boolean","example":false}}},"followers":{"type":"array","items":{"$ref":"#/components/schemas/FollowerGained"}}}},"example":{"customer_username":"example_user","days":30,"pagination":{"current_page":1,"page_size":1000,"total_followers":2,"total_pages":1,"has_next_page":false,"has_previous_page":false},"followers":[{"username":"new_follower_1","date":"2026-07-30","attributed_action_date":"2026-07-30","sources":["cible_suivie_1","cible_suivie_2"]},{"username":"new_follower_2","date":"2026-07-28","attributed_action_date":"2026-07-27","sources":[]}]}}}},"400":{"description":"Requête invalide - days ou page invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"invalid_days":{"summary":"days invalide","value":{"error":"days parameter must be a positive number","requestId":"req-123456"}},"invalid_page":{"summary":"page invalide (non numérique, 0 ou négative)","value":{"error":"page must be a positive integer","requestId":"req-123456"}},"page_out_of_bounds":{"summary":"page au-delà de la borne haute (renvoyait un 500 opaque auparavant)","value":{"error":"page must be between 1 and 2147484 for this endpoint (page_size 1000)","requestId":"req-123456","details":{"field":"page","min":1,"max":2147484,"page_size":1000}}}}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"404":{"description":"Compte non trouvé ou accès refusé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"No account found with identifier: sub-123 or access denied","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch followers gained","requestId":"req-123456"}}}}}}},"/account/username/{username}/followers-gained":{"get":{"summary":"Liste nominative des nouveaux followers gagnés, par username","description":"Liste des nouveaux followers ATTRIBUÉS à l'automatisation, avec leur nom, la date du follow et les cibles dont ils proviennent. Même règle d'attribution que /gains : au moins une action automatisée dans les 10 jours précédant le follow-back ; le filtre days s'applique sur le jour d'attribution (attributed_action_date), donc les totaux collent aux compteurs /gains de la même période. sources = cibles du compte que ce follower suit (peut être vide si la provenance n'est pas résolvable). Pagination par 1000.","operationId":"getFollowersGainedByUsername","tags":["Account - Followers & Retours"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"username","in":"path","required":true,"description":"Nom d'utilisateur Instagram du compte — recherche stricte par username (le @ initial est ignoré)","schema":{"type":"string"},"example":"example_user"},{"name":"days","in":"query","required":false,"description":"Profondeur en jours, appliquée sur le jour d'attribution (défaut: 30, comme /gains)","schema":{"type":"integer","minimum":0,"default":30},"example":30},{"name":"page","in":"query","required":false,"description":"Numéro de page (1000 entrées par page, défaut: 1). Bornes acceptées : 1 à 2147484 (au-delà, l'OFFSET dépasserait la capacité d'un entier 32 bits de PostgreSQL) — une valeur hors bornes renvoie un 400 explicite, jamais un 500. Une page située après la dernière entrée renvoie 200 avec une liste vide.","schema":{"type":"integer","minimum":1,"maximum":2147484,"default":1},"example":1}],"responses":{"200":{"description":"Liste des nouveaux followers récupérée avec succès","content":{"application/json":{"schema":{"type":"object","required":["customer_username","days","pagination","followers"],"properties":{"customer_username":{"type":"string","example":"example_user"},"days":{"type":"integer","example":30},"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1},"page_size":{"type":"integer","example":1000},"total_followers":{"type":"integer","example":186},"total_pages":{"type":"integer","example":1},"has_next_page":{"type":"boolean","example":false},"has_previous_page":{"type":"boolean","example":false}}},"followers":{"type":"array","items":{"$ref":"#/components/schemas/FollowerGained"}}}},"example":{"customer_username":"example_user","days":30,"pagination":{"current_page":1,"page_size":1000,"total_followers":2,"total_pages":1,"has_next_page":false,"has_previous_page":false},"followers":[{"username":"new_follower_1","date":"2026-07-30","attributed_action_date":"2026-07-30","sources":["cible_suivie_1","cible_suivie_2"]},{"username":"new_follower_2","date":"2026-07-28","attributed_action_date":"2026-07-27","sources":[]}]}}}},"400":{"description":"Requête invalide - days ou page invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"invalid_days":{"summary":"days invalide","value":{"error":"days parameter must be a positive number","requestId":"req-123456"}},"invalid_page":{"summary":"page invalide (non numérique, 0 ou négative)","value":{"error":"page must be a positive integer","requestId":"req-123456"}},"page_out_of_bounds":{"summary":"page au-delà de la borne haute (renvoyait un 500 opaque auparavant)","value":{"error":"page must be between 1 and 2147484 for this endpoint (page_size 1000)","requestId":"req-123456","details":{"field":"page","min":1,"max":2147484,"page_size":1000}}}}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"404":{"description":"Compte non trouvé ou accès refusé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"No account found with identifier: example_user or access denied","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch followers gained","requestId":"req-123456"}}}}}}},"/account/sub_id/{sub_id}/prospects-sources":{"get":{"summary":"Provenance des prospects touchés (convertis ET non convertis), par sub_id","description":"Jumeau de /followers-gained côté NON-CONVERTIS. Là où /followers-gained ne liste que les prospects qui ont suivi en retour, cette route liste TOUS les prospects touchés par l'automatisation sur la période, avec les cibles dont ils proviennent — c'est le DÉNOMINATEUR du taux de conversion par cible (le numérateur venant de /followers-gained).\n\nLe champ `targets` provient de la MÊME jointure que le champ `sources` de /followers-gained (targets_followers × interactors × account_targets) : ce sont les cibles du compte que ce prospect suit. Il peut être vide si la provenance n'est pas résolvable.\n\nPérimètre : les actions **RÉUSSIES** du compte sur la période (`success = true`) — une action en échec n'a touché personne. Aucun filtre sur le type d'action. ⚠️ À noter : l'attribution de /followers-gained, elle, ne filtre pas le succès (comportement historique) ; un prospect converti via une action en échec peut donc apparaître au numérateur sans figurer ici au dénominateur. Pagination par 1000.","operationId":"getProspectsSourcesBySubId","tags":["Account - Followers & Retours"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"sub_id","in":"path","required":true,"description":"Identifiant d'abonnement (sub_id) du compte — recherche stricte par sub_id, aucune ambiguïté avec un username","schema":{"type":"string"},"example":"sub_6olJRV1lBoRY2FUt"},{"name":"days","in":"query","required":false,"description":"Profondeur en jours, appliquée sur la date d'action (défaut: 30)","schema":{"type":"integer","minimum":0,"default":30},"example":30},{"name":"page","in":"query","required":false,"description":"Numéro de page (1000 entrées par page, défaut: 1). Bornes acceptées : 1 à 2147484 — une valeur hors bornes renvoie un 400 explicite, jamais un 500. Une page située après le dernier prospect renvoie 200 avec une liste vide.","schema":{"type":"integer","minimum":1,"maximum":2147484,"default":1},"example":1}],"responses":{"200":{"description":"Liste des prospects touchés et de leur provenance","content":{"application/json":{"schema":{"type":"object","required":["customer_username","days","pagination","prospects"],"properties":{"customer_username":{"type":"string","example":"example_user"},"days":{"type":"integer","example":30},"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1},"page_size":{"type":"integer","example":1000},"total_prospects":{"type":"integer","example":8421},"total_pages":{"type":"integer","example":9},"has_next_page":{"type":"boolean","example":true},"has_previous_page":{"type":"boolean","example":false}}},"prospects":{"type":"array","items":{"$ref":"#/components/schemas/ProspectSource"}}}},"example":{"customer_username":"example_user","days":30,"pagination":{"current_page":1,"page_size":1000,"total_prospects":2,"total_pages":1,"has_next_page":false,"has_previous_page":false},"prospects":[{"prospect_username":"prospect_1","targets":["cible_suivie_1","cible_suivie_2"],"last_action_date":"2026-08-03","actions_count":3},{"prospect_username":"prospect_2","targets":[],"last_action_date":"2026-08-01","actions_count":1}]}}}},"400":{"description":"Requête invalide - days ou page invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"invalid_days":{"summary":"days invalide","value":{"error":"days parameter must be a positive number","requestId":"req-123456"}},"invalid_page":{"summary":"page invalide (non numérique, 0 ou négative)","value":{"error":"page must be a positive integer","requestId":"req-123456"}},"page_out_of_bounds":{"summary":"page au-delà de la borne haute","value":{"error":"page must be between 1 and 2147484 for this endpoint (page_size 1000)","requestId":"req-123456","details":{"field":"page","min":1,"max":2147484,"page_size":1000}}}}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"404":{"description":"Compte non trouvé ou accès refusé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"No account found with identifier: sub-123 or access denied","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch prospects sources","requestId":"req-123456"}}}}}}},"/account/username/{username}/prospects-sources":{"get":{"summary":"Provenance des prospects touchés (convertis ET non convertis), par username","description":"Jumeau de /followers-gained côté NON-CONVERTIS. Là où /followers-gained ne liste que les prospects qui ont suivi en retour, cette route liste TOUS les prospects touchés par l'automatisation sur la période, avec les cibles dont ils proviennent — c'est le DÉNOMINATEUR du taux de conversion par cible (le numérateur venant de /followers-gained).\n\nLe champ `targets` provient de la MÊME jointure que le champ `sources` de /followers-gained (targets_followers × interactors × account_targets) : ce sont les cibles du compte que ce prospect suit. Il peut être vide si la provenance n'est pas résolvable.\n\nPérimètre : les actions **RÉUSSIES** du compte sur la période (`success = true`) — une action en échec n'a touché personne. Aucun filtre sur le type d'action. ⚠️ À noter : l'attribution de /followers-gained, elle, ne filtre pas le succès (comportement historique) ; un prospect converti via une action en échec peut donc apparaître au numérateur sans figurer ici au dénominateur. Pagination par 1000.","operationId":"getProspectsSourcesByUsername","tags":["Account - Followers & Retours"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"username","in":"path","required":true,"description":"Nom d'utilisateur du compte — recherche stricte par username (normalisé : espaces et @ de tête retirés)","schema":{"type":"string"},"example":"example_user"},{"name":"days","in":"query","required":false,"description":"Profondeur en jours, appliquée sur la date d'action (défaut: 30)","schema":{"type":"integer","minimum":0,"default":30},"example":30},{"name":"page","in":"query","required":false,"description":"Numéro de page (1000 entrées par page, défaut: 1). Bornes acceptées : 1 à 2147484 — une valeur hors bornes renvoie un 400 explicite, jamais un 500. Une page située après le dernier prospect renvoie 200 avec une liste vide.","schema":{"type":"integer","minimum":1,"maximum":2147484,"default":1},"example":1}],"responses":{"200":{"description":"Liste des prospects touchés et de leur provenance","content":{"application/json":{"schema":{"type":"object","required":["customer_username","days","pagination","prospects"],"properties":{"customer_username":{"type":"string","example":"example_user"},"days":{"type":"integer","example":30},"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1},"page_size":{"type":"integer","example":1000},"total_prospects":{"type":"integer","example":8421},"total_pages":{"type":"integer","example":9},"has_next_page":{"type":"boolean","example":true},"has_previous_page":{"type":"boolean","example":false}}},"prospects":{"type":"array","items":{"$ref":"#/components/schemas/ProspectSource"}}}},"example":{"customer_username":"example_user","days":30,"pagination":{"current_page":1,"page_size":1000,"total_prospects":2,"total_pages":1,"has_next_page":false,"has_previous_page":false},"prospects":[{"prospect_username":"prospect_1","targets":["cible_suivie_1","cible_suivie_2"],"last_action_date":"2026-08-03","actions_count":3},{"prospect_username":"prospect_2","targets":[],"last_action_date":"2026-08-01","actions_count":1}]}}}},"400":{"description":"Requête invalide - days ou page invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"invalid_days":{"summary":"days invalide","value":{"error":"days parameter must be a positive number","requestId":"req-123456"}},"invalid_page":{"summary":"page invalide (non numérique, 0 ou négative)","value":{"error":"page must be a positive integer","requestId":"req-123456"}},"page_out_of_bounds":{"summary":"page au-delà de la borne haute","value":{"error":"page must be between 1 and 2147484 for this endpoint (page_size 1000)","requestId":"req-123456","details":{"field":"page","min":1,"max":2147484,"page_size":1000}}}}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"404":{"description":"Compte non trouvé ou accès refusé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"No account found with identifier: example_user or access denied","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch prospects sources","requestId":"req-123456"}}}}}}},"/account/sub_id/{sub_id}/followbacks":{"get":{"summary":"Liste des retours (follow/like en retour), par sub_id","description":"Liste des personnes ayant suivi EN RETOUR après une action du bot, avec la date. Attribution stricte : au moins une action automatisée dans les 10 jours précédant le retour. back_date = date du PREMIER retour attribué. Source : customers_followers uniquement (customers_likers volontairement non utilisée) ; le champ type vaut donc actuellement toujours 'follower' et est conservé dans le contrat pour une réactivation future des likes en retour. Le filtre days s'applique sur back_date. Pagination par 1000.","operationId":"getFollowbacksBySubId","tags":["Account - Followers & Retours"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"sub_id","in":"path","required":true,"description":"Identifiant d'abonnement (sub_id) du compte — recherche stricte par sub_id, aucune ambiguïté avec un username","schema":{"type":"string"},"example":"sub_6olJRV1lBoRY2FUt"},{"name":"days","in":"query","required":false,"description":"Profondeur en jours, appliquée sur back_date (défaut: 30)","schema":{"type":"integer","minimum":0,"default":30},"example":30},{"name":"page","in":"query","required":false,"description":"Numéro de page (1000 entrées par page, défaut: 1). Bornes acceptées : 1 à 2147484 (au-delà, l'OFFSET dépasserait la capacité d'un entier 32 bits de PostgreSQL) — une valeur hors bornes renvoie un 400 explicite, jamais un 500. Une page située après la dernière entrée renvoie 200 avec une liste vide.","schema":{"type":"integer","minimum":1,"maximum":2147484,"default":1},"example":1}],"responses":{"200":{"description":"Liste des retours récupérée avec succès","content":{"application/json":{"schema":{"type":"object","required":["customer_username","days","pagination","followbacks"],"properties":{"customer_username":{"type":"string","example":"example_user"},"days":{"type":"integer","example":30},"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1},"page_size":{"type":"integer","example":1000},"total_followbacks":{"type":"integer","example":188},"total_pages":{"type":"integer","example":1},"has_next_page":{"type":"boolean","example":false},"has_previous_page":{"type":"boolean","example":false}}},"followbacks":{"type":"array","items":{"$ref":"#/components/schemas/Followback"}}}},"example":{"customer_username":"example_user","days":30,"pagination":{"current_page":1,"page_size":1000,"total_followbacks":3,"total_pages":1,"has_next_page":false,"has_previous_page":false},"followbacks":[{"username":"retour_1","back_date":"2026-07-30","type":"follower"},{"username":"retour_2","back_date":"2026-07-29","type":"follower"},{"username":"retour_3","back_date":"2026-07-25","type":"follower"}]}}}},"400":{"description":"Requête invalide - days ou page invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"invalid_days":{"summary":"days invalide","value":{"error":"days parameter must be a positive number","requestId":"req-123456"}},"invalid_page":{"summary":"page invalide (non numérique, 0 ou négative)","value":{"error":"page must be a positive integer","requestId":"req-123456"}},"page_out_of_bounds":{"summary":"page au-delà de la borne haute (renvoyait un 500 opaque auparavant)","value":{"error":"page must be between 1 and 2147484 for this endpoint (page_size 1000)","requestId":"req-123456","details":{"field":"page","min":1,"max":2147484,"page_size":1000}}}}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"404":{"description":"Compte non trouvé ou accès refusé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"No account found with identifier: sub-123 or access denied","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch followbacks","requestId":"req-123456"}}}}}}},"/account/username/{username}/followbacks":{"get":{"summary":"Liste des retours (follow/like en retour), par username","description":"Liste des personnes ayant suivi EN RETOUR après une action du bot, avec la date. Attribution stricte : au moins une action automatisée dans les 10 jours précédant le retour. back_date = date du PREMIER retour attribué. Source : customers_followers uniquement (customers_likers volontairement non utilisée) ; le champ type vaut donc actuellement toujours 'follower' et est conservé dans le contrat pour une réactivation future des likes en retour. Le filtre days s'applique sur back_date. Pagination par 1000.","operationId":"getFollowbacksByUsername","tags":["Account - Followers & Retours"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"username","in":"path","required":true,"description":"Nom d'utilisateur Instagram du compte — recherche stricte par username (le @ initial est ignoré)","schema":{"type":"string"},"example":"example_user"},{"name":"days","in":"query","required":false,"description":"Profondeur en jours, appliquée sur back_date (défaut: 30)","schema":{"type":"integer","minimum":0,"default":30},"example":30},{"name":"page","in":"query","required":false,"description":"Numéro de page (1000 entrées par page, défaut: 1). Bornes acceptées : 1 à 2147484 (au-delà, l'OFFSET dépasserait la capacité d'un entier 32 bits de PostgreSQL) — une valeur hors bornes renvoie un 400 explicite, jamais un 500. Une page située après la dernière entrée renvoie 200 avec une liste vide.","schema":{"type":"integer","minimum":1,"maximum":2147484,"default":1},"example":1}],"responses":{"200":{"description":"Liste des retours récupérée avec succès","content":{"application/json":{"schema":{"type":"object","required":["customer_username","days","pagination","followbacks"],"properties":{"customer_username":{"type":"string","example":"example_user"},"days":{"type":"integer","example":30},"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1},"page_size":{"type":"integer","example":1000},"total_followbacks":{"type":"integer","example":188},"total_pages":{"type":"integer","example":1},"has_next_page":{"type":"boolean","example":false},"has_previous_page":{"type":"boolean","example":false}}},"followbacks":{"type":"array","items":{"$ref":"#/components/schemas/Followback"}}}},"example":{"customer_username":"example_user","days":30,"pagination":{"current_page":1,"page_size":1000,"total_followbacks":3,"total_pages":1,"has_next_page":false,"has_previous_page":false},"followbacks":[{"username":"retour_1","back_date":"2026-07-30","type":"follower"},{"username":"retour_2","back_date":"2026-07-29","type":"follower"},{"username":"retour_3","back_date":"2026-07-25","type":"follower"}]}}}},"400":{"description":"Requête invalide - days ou page invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"invalid_days":{"summary":"days invalide","value":{"error":"days parameter must be a positive number","requestId":"req-123456"}},"invalid_page":{"summary":"page invalide (non numérique, 0 ou négative)","value":{"error":"page must be a positive integer","requestId":"req-123456"}},"page_out_of_bounds":{"summary":"page au-delà de la borne haute (renvoyait un 500 opaque auparavant)","value":{"error":"page must be between 1 and 2147484 for this endpoint (page_size 1000)","requestId":"req-123456","details":{"field":"page","min":1,"max":2147484,"page_size":1000}}}}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"404":{"description":"Compte non trouvé ou accès refusé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"No account found with identifier: example_user or access denied","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch followbacks","requestId":"req-123456"}}}}}}},"/account/sub_id/{sub_id}/operations":{"get":{"summary":"Journal des opérations d'un compte, par sub_id","description":"Consultation de la table account_operations pour un compte : TOUS les événements qui le concernent, sans filtre par type — écrits par le dashboard, l'équipe et l'API (configuration, cibles, connexion, statuts, SMS, etc.). Les lignes sont rattachées par customer_username OU par sub_id. Ciblage combiné (« les 2 d'un coup ») : on peut passer en query l'identifiant de l'autre type (username sur la route /sub_id, sub_id sur la route /username) — chaque identifiant est soumis au même contrôle d'accès, et les journaux des deux cibles sont réunis (champ combined_with dans la réponse). Les valeurs sensibles d'operation_data (mots de passe, codes 2FA, valeurs copiées, cus_id) sont systématiquement caviardées ('•••'). Tri du plus récent au plus ancien, pagination par 1000.","operationId":"getAccountOperationsBySubId","tags":["Account - Historique des actions"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"sub_id","in":"path","required":true,"description":"Identifiant d'abonnement (sub_id) du compte — recherche stricte par sub_id, aucune ambiguïté avec un username","schema":{"type":"string"},"example":"sub_6olJRV1lBoRY2FUt"},{"name":"username","in":"query","required":false,"description":"Ciblage complémentaire facultatif : username d'un compte à réunir dans le même journal (soumis au même contrôle d'accès, 404 si introuvable/hors périmètre)","schema":{"type":"string"},"example":"example_user"},{"name":"days","in":"query","required":false,"description":"Profondeur en jours (optionnel : absent = tout l'historique)","schema":{"type":"integer","minimum":0},"example":30},{"name":"page","in":"query","required":false,"description":"Numéro de page (1000 entrées par page, défaut: 1). Bornes acceptées : 1 à 2147484 (au-delà, l'OFFSET dépasserait la capacité d'un entier 32 bits de PostgreSQL) — une valeur hors bornes renvoie un 400 explicite, jamais un 500. Une page située après la dernière entrée renvoie 200 avec une liste vide.","schema":{"type":"integer","minimum":1,"maximum":2147484,"default":1},"example":1}],"responses":{"200":{"description":"Journal des opérations récupéré avec succès","content":{"application/json":{"schema":{"type":"object","required":["customer_username","sub_id","pagination","operations"],"properties":{"customer_username":{"type":"string","example":"example_user"},"sub_id":{"type":"string","example":"sub_6olJRV1lBoRY2FUt"},"combined_with":{"type":"object","description":"Présent uniquement en ciblage combiné : identité de la seconde cible réunie dans ce journal","properties":{"customer_username":{"type":"string","example":"example_user_2"},"sub_id":{"type":"string","example":"sub_autre"}}},"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1},"page_size":{"type":"integer","example":1000},"total_operations":{"type":"integer","example":42},"total_pages":{"type":"integer","example":1},"has_next_page":{"type":"boolean","example":false},"has_previous_page":{"type":"boolean","example":false}}},"operations":{"type":"array","items":{"$ref":"#/components/schemas/AccountOperation"}}}},"example":{"customer_username":"example_user","sub_id":"sub_6olJRV1lBoRY2FUt","pagination":{"current_page":1,"page_size":1000,"total_operations":2,"total_pages":1,"has_next_page":false,"has_previous_page":false},"operations":[{"id":67810,"operation_type":"criteria_update","operation_author":"customer","operation_data":{"via":"api","auth_kind":"chargebee","cus_id":"cus_xxx","request_id":"req-123456","enabled_follow":true,"per_day_follow":50},"operation_date":"2026-08-03T10:15:00.000Z","customer_username":"example_user","sub_id":"sub_6olJRV1lBoRY2FUt"},{"id":67720,"operation_type":"connect_password_attempt","operation_author":"team","operation_data":{"method":"manual","password":"•••","phone_serial":"SN123456789","success":true},"operation_date":"2026-08-01T09:00:00.000Z","customer_username":"example_user","sub_id":"sub_6olJRV1lBoRY2FUt"}]}}}},"400":{"description":"Requête invalide - days ou page invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"invalid_days":{"summary":"days invalide","value":{"error":"days parameter must be a positive number","requestId":"req-123456"}},"invalid_page":{"summary":"page invalide (non numérique, 0 ou négative)","value":{"error":"page must be a positive integer","requestId":"req-123456"}},"page_out_of_bounds":{"summary":"page au-delà de la borne haute (renvoyait un 500 opaque auparavant)","value":{"error":"page must be between 1 and 2147484 for this endpoint (page_size 1000)","requestId":"req-123456","details":{"field":"page","min":1,"max":2147484,"page_size":1000}}}}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"404":{"description":"Compte non trouvé ou accès refusé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"No account found with identifier: sub-123 or access denied","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch operations","requestId":"req-123456"}}}}}}},"/account/username/{username}/operations":{"get":{"summary":"Journal des opérations d'un compte, par username","description":"Consultation de la table account_operations pour un compte : TOUS les événements qui le concernent, sans filtre par type — écrits par le dashboard, l'équipe et l'API (configuration, cibles, connexion, statuts, SMS, etc.). Les lignes sont rattachées par customer_username OU par sub_id. Ciblage combiné (« les 2 d'un coup ») : on peut passer en query l'identifiant de l'autre type (username sur la route /sub_id, sub_id sur la route /username) — chaque identifiant est soumis au même contrôle d'accès, et les journaux des deux cibles sont réunis (champ combined_with dans la réponse). Les valeurs sensibles d'operation_data (mots de passe, codes 2FA, valeurs copiées, cus_id) sont systématiquement caviardées ('•••'). Tri du plus récent au plus ancien, pagination par 1000.","operationId":"getAccountOperationsByUsername","tags":["Account - Historique des actions"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"username","in":"path","required":true,"description":"Nom d'utilisateur Instagram du compte — recherche stricte par username (le @ initial est ignoré)","schema":{"type":"string"},"example":"example_user"},{"name":"sub_id","in":"query","required":false,"description":"Ciblage complémentaire facultatif : sub_id d'un compte à réunir dans le même journal (soumis au même contrôle d'accès, 404 si introuvable/hors périmètre)","schema":{"type":"string"},"example":"sub_6olJRV1lBoRY2FUt"},{"name":"days","in":"query","required":false,"description":"Profondeur en jours (optionnel : absent = tout l'historique)","schema":{"type":"integer","minimum":0},"example":30},{"name":"page","in":"query","required":false,"description":"Numéro de page (1000 entrées par page, défaut: 1). Bornes acceptées : 1 à 2147484 (au-delà, l'OFFSET dépasserait la capacité d'un entier 32 bits de PostgreSQL) — une valeur hors bornes renvoie un 400 explicite, jamais un 500. Une page située après la dernière entrée renvoie 200 avec une liste vide.","schema":{"type":"integer","minimum":1,"maximum":2147484,"default":1},"example":1}],"responses":{"200":{"description":"Journal des opérations récupéré avec succès","content":{"application/json":{"schema":{"type":"object","required":["customer_username","sub_id","pagination","operations"],"properties":{"customer_username":{"type":"string","example":"example_user"},"sub_id":{"type":"string","example":"sub_6olJRV1lBoRY2FUt"},"combined_with":{"type":"object","description":"Présent uniquement en ciblage combiné : identité de la seconde cible réunie dans ce journal","properties":{"customer_username":{"type":"string","example":"example_user_2"},"sub_id":{"type":"string","example":"sub_autre"}}},"pagination":{"type":"object","properties":{"current_page":{"type":"integer","example":1},"page_size":{"type":"integer","example":1000},"total_operations":{"type":"integer","example":42},"total_pages":{"type":"integer","example":1},"has_next_page":{"type":"boolean","example":false},"has_previous_page":{"type":"boolean","example":false}}},"operations":{"type":"array","items":{"$ref":"#/components/schemas/AccountOperation"}}}},"example":{"customer_username":"example_user","sub_id":"sub_6olJRV1lBoRY2FUt","pagination":{"current_page":1,"page_size":1000,"total_operations":1,"total_pages":1,"has_next_page":false,"has_previous_page":false},"operations":[{"id":67811,"operation_type":"target_add","operation_author":"customer","operation_data":{"via":"api","auth_kind":"chargebee","cus_id":"cus_xxx","request_id":"req-123456","target_username":"cible_1","source":"api"},"operation_date":"2026-08-03T10:20:00.000Z","customer_username":"example_user","sub_id":"sub_6olJRV1lBoRY2FUt"}]}}}},"400":{"description":"Requête invalide - days ou page invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"invalid_days":{"summary":"days invalide","value":{"error":"days parameter must be a positive number","requestId":"req-123456"}},"invalid_page":{"summary":"page invalide (non numérique, 0 ou négative)","value":{"error":"page must be a positive integer","requestId":"req-123456"}},"page_out_of_bounds":{"summary":"page au-delà de la borne haute (renvoyait un 500 opaque auparavant)","value":{"error":"page must be between 1 and 2147484 for this endpoint (page_size 1000)","requestId":"req-123456","details":{"field":"page","min":1,"max":2147484,"page_size":1000}}}}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"404":{"description":"Compte non trouvé ou accès refusé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"No account found with identifier: example_user or access denied","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch operations","requestId":"req-123456"}}}}}}},"/account/sub_id/{sub_id}/profile-stats":{"get":{"summary":"Récupère l'historique quotidien du profil d'un compte par sub_id","description":"Relevés quotidiens du profil (followers, followings, nombre de posts) issus de la table stats_profile_daily, du plus ancien au plus récent.","operationId":"getAccountProfileStatsBySubId","tags":["Account - Statistiques"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"sub_id","in":"path","required":true,"description":"Identifiant d'abonnement (sub_id) du compte — recherche stricte par sub_id, aucune ambiguïté avec un username","schema":{"type":"string"},"example":"sub_6olJRV1lBoRY2FUt"},{"name":"days","in":"query","required":false,"description":"Nombre de jours dans le passé à récupérer (défaut: 30)","schema":{"type":"integer","minimum":0,"default":30},"example":30}],"responses":{"200":{"description":"Relevés quotidiens récupérés avec succès","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProfileDailyStat"}},"example":[{"id":"64097120946","username":"example_user","full_name":"Example User","followers":976,"followings":129,"nb_posts":195,"date_checked":"2025-09-08"},{"id":"64097120946","username":"example_user","full_name":"Example User","followers":1014,"followings":292,"nb_posts":197,"date_checked":"2025-09-15"}]}}},"400":{"description":"Requête invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"days parameter must be a positive number","requestId":"req-123456"}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"403":{"description":"Accès refusé - Le token n'a pas accès à ce compte","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Access denied: you do not have access to this account","requestId":"req-123456"}}}},"404":{"description":"Compte non trouvé ou accès refusé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"No account found with identifier: sub_xxx or access denied","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch profile stats","requestId":"req-123456"}}}}}}},"/account/username/{username}/profile-stats":{"get":{"summary":"Récupère l'historique quotidien du profil d'un compte par username","description":"Relevés quotidiens du profil (followers, followings, nombre de posts) issus de la table stats_profile_daily, du plus ancien au plus récent.","operationId":"getAccountProfileStatsByUsername","tags":["Account - Statistiques"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"username","in":"path","required":true,"description":"Nom d'utilisateur Instagram du compte — recherche stricte par username (le @ initial est ignoré)","schema":{"type":"string"},"example":"example_user"},{"name":"days","in":"query","required":false,"description":"Nombre de jours dans le passé à récupérer (défaut: 30)","schema":{"type":"integer","minimum":0,"default":30},"example":30}],"responses":{"200":{"description":"Relevés quotidiens récupérés avec succès","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProfileDailyStat"}},"example":[{"id":"64097120946","username":"example_user","full_name":"Example User","followers":976,"followings":129,"nb_posts":195,"date_checked":"2025-09-08"},{"id":"64097120946","username":"example_user","full_name":"Example User","followers":1014,"followings":292,"nb_posts":197,"date_checked":"2025-09-15"}]}}},"400":{"description":"Requête invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"days parameter must be a positive number","requestId":"req-123456"}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"403":{"description":"Accès refusé - Le token n'a pas accès à ce compte","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Access denied: you do not have access to this account","requestId":"req-123456"}}}},"404":{"description":"Compte non trouvé ou accès refusé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"No account found with identifier: example_user or access denied","requestId":"req-123456"}}}},"500":{"description":"Erreur serveur interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Failed to fetch profile stats","requestId":"req-123456"}}}}}}},"/account/sub_id/{sub_id}/actions":{"get":{"summary":"Récupère l'historique des actions d'un compte par sub_id avec pagination","description":"","operationId":"getAccountActionsBySubId","tags":["Account - Historique des actions"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"sub_id","in":"path","required":true,"description":"Identifiant d'abonnement (sub_id) du compte — recherche stricte par sub_id, aucune ambiguïté avec un username","schema":{"type":"string"},"example":"sub_6olJRV1lBoRY2FUt"},{"name":"page","in":"query","required":false,"description":"Numéro de page (commence à 1). Chaque page contient 500 actions. Bornes acceptées : 1 à 4294968 (au-delà, l'OFFSET dépasserait la capacité d'un entier 32 bits de PostgreSQL) — une valeur hors bornes renvoie un 400 explicite, jamais un 500. Une page située après la dernière action renvoie 200 avec un tableau `actions` vide.","schema":{"type":"integer","minimum":1,"maximum":4294968,"default":1},"example":1}],"responses":{"200":{"description":"Historique des actions récupéré avec succès","content":{"application/json":{"schema":{"type":"object","properties":{"customer_username":{"type":"string","description":"Le nom d'utilisateur du compte"},"pagination":{"type":"object","properties":{"current_page":{"type":"integer","description":"Numéro de la page actuelle"},"page_size":{"type":"integer","description":"Nombre d'actions par page (fixe à 500)"},"total_actions":{"type":"integer","description":"Nombre total d'actions dans l'historique"},"total_pages":{"type":"integer","description":"Nombre total de pages"},"has_next_page":{"type":"boolean","description":"Indique s'il existe une page suivante"},"has_previous_page":{"type":"boolean","description":"Indique s'il existe une page précédente"}}},"actions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Identifiant unique de l'action"},"interactor_username":{"type":"string","nullable":true,"description":"Nom d'utilisateur de l'interacteur (compte cible)"},"action_type":{"type":"string","description":"Type d'action effectuée","enum":["post_like","story_like","story_view","follow","unfollow","screenshot","swipe_feed","welcome_dm","cold_dm","follow_temp"]},"action_date":{"type":"string","format":"date-time","nullable":true,"description":"Date et heure de l'action"}}}}}},"examples":{"first_page":{"summary":"Première page (500 actions)","value":{"customer_username":"example_user","pagination":{"current_page":1,"page_size":500,"total_actions":7523,"total_pages":16,"has_next_page":true,"has_previous_page":false},"actions":[{"id":12345,"interactor_username":"example_user","action_type":"post_like","action_date":"2025-12-02T14:30:00.000Z"},{"id":12344,"interactor_username":"example_user","action_type":"follow","action_date":"2025-12-02T14:25:00.000Z"}]}},"middle_page":{"summary":"Page intermédiaire","value":{"customer_username":"example_user","pagination":{"current_page":5,"page_size":500,"total_actions":7523,"total_pages":16,"has_next_page":true,"has_previous_page":true},"actions":[{"id":10345,"interactor_username":"example_user","action_type":"story_like","action_date":"2025-11-28T10:15:00.000Z"}]}}}}}},"400":{"description":"Requête invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"missing_username":{"summary":"Paramètre customer_username manquant","value":{"error":"customer_username query parameter is required","requestId":"req-123456"}},"invalid_page":{"summary":"Paramètre page invalide (non numérique, 0 ou négatif)","value":{"error":"page must be a positive integer","requestId":"req-123456"}},"page_out_of_bounds":{"summary":"page au-delà de la borne haute (renvoyait un 500 opaque auparavant)","value":{"error":"page must be between 1 and 4294968 for this endpoint (page_size 500)","requestId":"req-123456","details":{"field":"page","min":1,"max":4294968,"page_size":500}}}}}}},"401":{"description":"Non autorisé - Token manquant ou invalide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid token","requestId":"req-123456"}}}},"403":{"description":"Accès refusé - Le token n'a pas accès à ce compte","conten
[...]
